[2015-07-23 02:02] noopkat opened #1 "add CLI features"
+ [ ] `avrgirl-arduino list` - lists current serial ports available
+ [ ] `avrgirl-arduino boards` - lists currently supported boards

[2015-07-23 02:11] noopkat opened #2 "bump stk500v2 version when ready"
Newly patched version has not been published to npm as of yet.

[2015-07-27 15:21] chocol4tebubble5 opened #3 "USBASP or Arduino as ISP Compatibility"
Is this compatibility planned, and how difficult would it be to implement?

[2015-07-30 04:14] noopkat commented on #3
Hi @chocol4tebubble5, Thanks for checking in ⭐️

Definitely on the roadmap soon, so short answer = yes.
Note though that USBASP support is planned for a separate `avrgirl` package from this one. I would prefer to have a more generic package for USBASP, which will incidentally support Arduino as ISP out-of-the-box. The reason for this separation is because an Arduino with the 'Arduino as ISP' sketc

[2015-07-30 09:52] chocol4tebubble5 commented on #3
Thank you very much!

[2015-07-30 09:52] #3 closed

[2015-09-10 20:55] noopkat opened #4 "Write tests"
Please see [avrgirl-stk500v2 tests](https://github.com/noopkat/avrgirl-stk500v2/tree/master/tests) and the [travis file](https://github.com/noopkat/avrgirl-stk500v2/blob/master/.travis.yml) for a good starting point on this. Serialport will need to be stubbed, an example is in the repo linked.

[2015-09-11 08:14] mcdonnelldean commented on #4
@noopkat Is this something that can be done sans hardware? I wouldn't mind taking a crack at tests over the weekend if that's the case. Although if they are already being done that's cool too, either way I have free cycles over the weekend that I would like to use on some grunt work to get a feel for the libs :dancer:

[2015-09-11 15:31] noopkat commented on #4
@mcdonnelldean thanks for offering to help! No one is currently working on tests, I lodged this issue just yesterday. This part of AVRGirl will be particularly time consuming to write tests for, so feel free to only pick one part of it if you like.

Yeah this should probably be done sans hardware in general (so that we know TravisCI will definitely be able to run the tests), similar to the repo I

[2015-09-11 15:53] noopkat opened #5 "Testing with real hardware"
My budget can't always support having every single Arduino on hand to test this with. I would love if anyone has matching hardware supported by avrgirl-arduino to verify that everything works well. I just recently busted my Arduino Mega's FTDI connection somehow, so this sort of thing becomes a problem for me to keep up with.

I mostly test with OSX (which is my dev machine). I have both Windows a

[2015-09-11 15:58] noopkat opened #6 "Board support: Pinoccio Scouts"
[Pinoccio Scouts](https://pinocc.io/) use the stk500v2 protocol, which is supplied in avrgirl-arduino already. An addition to `boards.js` should be all that is required, with some testing with a real device. I no longer have a Scout to test with. Adding a precompiled version of both Standard Firmata and Blink sketches would also very much be appreciated.

[2015-09-11 15:59] noopkat opened #7 "Support for browser based serialport libs"
This should be done post refactor.

[2015-09-12 21:16] mcdonnelldean commented on #4
@noopkat Awesome reply!

So I think it makes the most sense for me to start with running against my Arduino to figure out what is going on. I know a little about hardware but I'm still very much a novice, the hope is by helping out on tests I'll get a better understanding of what's going better.

Once I get through that I'll move to stubbing out and trying the easier tests. What I will say is don'

[2015-09-12 21:43] mcdonnelldean commented on #4
@noopkat Have you any preference on testing / assertion suites? I'm partial to [Tape][] / [Faucet][], which is a TAP based suite and a pretty print reporter. Having said that I've used pretty much most of the more popular one and will defer to whichever you feel would better suit.

[Tape]: https://www.npmjs.com/package/tape
[Faucet]: https://www.npmjs.com/package/faucet

[2015-09-12 22:12] mcdonnelldean commented on #4
Oh, I just found https://github.com/noopkat/avrgirl-stk500v2/blob/master/tests/avrgirl-stk500v2.spec.js so I'll follow the conventions there.

[2015-09-12 22:50] noopkat commented on #4
@mcdonnelldean awesome! This is an example of how the tests are set up in the package json: https://github.com/noopkat/avrgirl-stk500v2/blob/master/package.json#L7 I normally pipe into tap-spec cos it's easier to read for me :smile: I love tape, sounds like we're on the same page!

Shopping list - I'm on it. It'll be mostly what avrgirl currently supports. Should have that done tonight.
Tonight I'

[2015-09-12 22:58] noopkat commented on #4
@mcdonnelldean also this here is how I have previously set up and stubbed the virtual-serialport instance: https://github.com/noopkat/avrgirl-stk500v2/blob/master/tests/serialport-comms.spec.js#L6-L33

There were a few missing methods, so as you can see I just used threw them in a bit unceremoniously but it worked. I should open a PR on the virtual-serialport lib.

[2015-09-13 16:06] mcollina commented on #4
I'm really looking forward to the shopping list :).

[2015-10-02 02:04] noopkat opened #8 "Board support: Pro Mini"
This is a priority issue, in order to support @ajfisher's great work on his [nodebots-interchange](https://github.com/ajfisher/nodebots-interchange) project.

A few things to consider here:

+ No reliable pid or vid, as the FTDI adaptor will most likely report itself instead. Brute force 'sign-on' attempts may be needed to attempt to get an expected answer back from one of the active ports.

+ Boa

[2015-10-02 06:53] ajfisher commented on #8
So I reckon we can make some assumptions on this because if you're using a
pro mini you're probably a bit more at the experienced end of the arduino
/avr world.

Do these assumptions make it a bit easier / straightforward?

* if you can't detect a port then bail, don't brute force it, thus
expectation is that I supply a port to connect to (as it could be pretty
varied)

* reset will be mediated by

[2015-10-02 13:58] noopkat commented on #8
Thanks for this input - this makes a lot of sense. I guess the 'pro' in the board name should be indicative :grin: Let's go with your suggestions and get this board supported.

I added the Pro Mini to the boards list on a new test branch, if you want to jump ahead and test it before my pro mini arrives in the mail tomorrow, feel free to point avrgirl-arduino in your package json at `git://github.c

[2015-10-03 02:28] noopkat opened #9 "Board Support: Sparkfun Pro Micro"
Product link: https://www.sparkfun.com/products/12640 (there's also a 3V, 8MHz option)

I'm not sure why, but I bought this board a while ago on impulse when ordering other things. It's an interesting one. ATmega32U4 on board, so it's a Leonardo/avr109. But it seems to follow the Arduino Pro  advantage of up to 16MHz and 12v. $20USD, not bad but twice the price of a Pro Mini.

[2015-10-03 18:24] #9 closed

[2015-10-03 18:36] noopkat opened #12 "Human tester needed: Little Bits Arduino module"
This fits into #5. I do not own any sets from Little Bits. I added support a while ago but cannot test it at the moment.

If anyone has this module, could they please compile some form of 'hello world' script for it (such as a blink sketch) and run the following code to see if it works as expected?

[code]

Thanks a million :yellow_heart:

[2015-10-03 19:50] noopkat commented on #8
Pro Mini arrived, FDTI breakout did not. Uno husk stand-in to the rescue!
Seems to be working, @ajfisher. Been pretty solid without a manual board reset too. I'll merge this and release it.

![promini](https://cloud.githubusercontent.com/assets/1411284/10264829/171437ca-69e6-11e5-9453-f7ce5c16436d.jpg)

[2015-10-03 20:25] noopkat commented on #8
released in 1.4.4.

[2015-10-03 20:25] #8 closed

[2015-10-04 16:47] makenai commented on #6
I've been working on this,  but getting bad results. For example, using avrgirl, when I try to verify the signature, I get `0x30, 0x10, 0x00` instead of the expected signature `0x1e, 0xa8, 0x02` which is in the shipped bootloader. When I try to use the example that ships with stk500v2, I get completely random results instead.

Have you verified that the mega works?

[2015-10-04 17:00] makenai commented on #6
Ignore previous comment. This is tentatively working and in for PR soon. :)

[2015-10-04 17:08] noopkat commented on #6
thank you! What was the issue, if you don't mind sharing?

[2015-10-04 17:12] makenai commented on #6
It was a silly mistake - at some point between harvesting the hexfiles and verifying that the flash worked with the Arduino IDE, I turned off power to the pinoccio. It was still responding as a USB device and connecting and had lights when it was connected, but the processor was not powering on and so I guess I was just picking up random noise!

[2015-10-04 17:15] noopkat commented on #6
Ah, thanks for explaining! I recognised your 'signature' as an echo of the get sig command bytes being returned back, so I figured something might not have been making it through.

Thanks for working on this issue!

[2015-10-04 19:56] noopkat commented on #6
I'm sure you're aware of this, but trying to save you from work just in case - the Pinoccios have their own ecosystem, so the standard blink and firmata sketches might not be useful to include, or not worth the time making them compatible if there's extra work needed.

If there's an obvious 'hello' world hex you can compile that does not rely on individual config settings etc, then feel free to in

[2015-10-04 23:14] makenai commented on #6
Yup, I'm aware of the differences, however I'd like to include both varieties for sake of completeness. pinnocio-io uses Bootstrap.cpp.hex instead of Firmata, and there is a special LEDBlink.cpp.hex that works with the pinoccio torch. It is also possible to use Blink.cpp.hex, and this morning I left off forking Firmata to add some flags to make it work. I should be able to test that this evening.

[2015-10-04 23:28] noopkat commented on #6
:+1: good to know, thank you!

[2015-10-06 00:29] #6 closed

[2015-10-06 05:26] makenai commented on #5
I have a few other devices I wanted to try adding support for, but they seem to be finicky ones: Due (ARM), RFDuino (uses a custom loader - see http://rfduino.com/package_rfduino_index.json), Red Bear MK20 and WiFi Mini (CC3200) and the Spark/Particle (which I think you have too). Any thoughts on them?

[2015-10-07 02:33] noopkat commented on #5
Hey! A few thoughts:

Desirable: short answer is no but yes but is complicated.

The purpose of avrgirl-arduino is to support the flashing of a specific subset of devices that would be classed as an 'Arduino'. This essentially means:
+ a device that is produced by Arduino/Genuino
+ a direct Arduino clone
+ an ['Arduino at Heart'](https://www.arduino.cc/en/ArduinoAtHeart/Products) device that repre

[2015-10-07 03:25] noopkat commented on #1
Julian is currently working on this :)

[2015-10-07 06:03] makenai commented on #5
Thanks for the detailed reply, Suz! I was wondering about some of this. The Arduino IDE has done a pretty good job of hiding a lot of the complexity to the end user and looking like an all purpose tool when it is really doing a lot of different things and using a lot of vendor provided software to fill the gaps. Thus I think it's sometimes hard to see where the boundaries lie, so I appreciate the

[2015-10-07 14:50] noopkat commented on #5
The Arduino IDE is indeed impressive! It takes an easy to use library and pairs it with several cross-compilers and many uploading tools (including avrdude). The easy flashing experience has been a point of inspiration for me to try to emulate.

I'm going to amend this issue with much better wording around testing hardware and how to do it. I'm very new to this 'having contributors' thing, so I am

[2015-10-08 23:58] noopkat opened #17 "Auto-detecting boards not working on OSX El Capitan"
This is a serialport issue https://github.com/voodootikigod/node-serialport/issues/552

If you specify the port, avrgirl-arduino will work just fine. This bug will be resolved once node-serialport is fixed. Sorry for the inconvenience :disappointed:

[2015-10-15 01:28] ArekSredzki commented on #17
Fixed by voodootikigod/node-serialport#607

[2015-10-15 02:59] ArekSredzki commented on #17
Merging #20 will fix this

[2015-10-15 03:01] ArekSredzki opened #21 "Sparkfun Mega Pro Support"
This is as easy as either adding a new board type or adding `0x6001` as a productId for 'mega'.
Settings are the same for this board as the mega.

[2015-10-15 03:21] noopkat commented on #17
thanks @ArekSredzki! I wasn't home tonight, so haven't had a chance to pull it down and get it merged. Looking at it now 😁

[2015-10-15 03:23] ArekSredzki commented on #17
No worries :smile:

[2015-10-15 03:25] noopkat commented on #17
@ArekSredzki merged and published! Looking at #22 now

[2015-10-15 03:25] #17 closed

[2015-10-15 03:29] #21 closed

[2015-10-15 18:39] ArekSredzki opened #25 "STK500 timeout if board's serialport was open prior to flashing."

[2015-10-15 18:39] ArekSredzki opened #26 "Multiple error calls on stk500 failure"

[2015-10-15 18:41] noopkat commented on #25
ah, good catch! Your new PR's look fantastic, I'll take a closer look at it all soon!

[2015-10-15 18:42] ArekSredzki commented on #25
thanks :smile:

[2015-10-16 16:54] makenai commented on #1
Sorry, I didn't see that comment until after submitting my PR

[2015-10-16 22:23] #25 closed

[2015-10-16 22:38] #26 closed

[2015-10-16 22:40] noopkat commented on #1
it's ok, I will create a label for this to prevent it in future. I've just been giving some peeps some space for a 'first avrgirl PR' opportunity on some of these issues.

[2015-10-18 05:54] ArekSredzki opened #29 "Consider replacing leo-reset with the DTR reset used for STK500 boards"

[2015-10-18 20:21] noopkat commented on #29
I just ran a quick test with this, and lowering DTR closes the port fully (so that we can reconnect at the correct baud rate for programming). Thanks for the suggestion and research on this :grin:

Now if we could only get `serialport.close` to do the same :wink: I remember tearing my hair out at the time when trying to get a reliable reset for all of the leo boards, with only [this reset document

[2015-10-18 20:45] ArekSredzki commented on #29
@noopkat No worries, I know the feeling. This Auto-reset seems to work on all arduino boards. In my Arduino wrapper I simply reset the board on serial port connect. I'll separate out the module from my project and publish it on npm soon so that you can take a look at what works for me.

It's important to note that auto reset on DTR can be disabled in a sketch (though rare for people to do). And it

[2015-10-19 06:36] nodebotanist commented on #12
I will try to get a hold of one-- my dad for sure owns one, I'll see if he'll let me borrow it. If I can, I'll bring it to NYC later this week :D.

[2015-10-20 01:11] noopkat commented on #12
you are the best, thank you!

[2015-10-22 23:56] flaki opened #30 "On Arduboy flashing fails with "Cannot open" or mid-flash inconsistently"
[Arduboy]() is a tiny gameboy-like device, based around the [Arduino Leonardo](http://community.arduboy.com/t/reference-page-for-development/76/6). My [dev kit](https://www.tindie.com/products/bateske/arduboy/) has just arrived. It runs and flashes fine with the Arduino IDE, but with `avrgirl-arduino` I just couldn't get it to flash the generated `hex`.

It usually doesn't work, simply fails to ac

[2015-10-23 00:21] flaki commented on #30
Hmm! Apparently the error is generated in [`chip.avr.avr109`](https://github.com/tmpvar/chip.avr.avr109/blob/master/chip.avr.avr109.js#L156), but originates in [`intelhex`](https://github.com/tmpvar/intelhex/blob/master/index.js#L57).

According to the ARM knowledge base

Commenting out the line does indeed fix it and `avrgirl-arduino` successfully flashes the hex.

The intermittent reset problem

[2015-10-23 15:08] flaki commented on #30
Oh dear I'm such a doofus! Thanks for the quick acting, but as it turns out I had a typo in the code! With the typo fixed, it should be working.

Also, re: `intel-hex`, `avr-arduino` does [use](https://github.com/noopkat/avrgirl-arduino/blob/master/package.json#L34) `intel-hex` over `intelhex`, but pulls in [/tmpvar/chip.avr.avr109](/tmpvar/chip.avr.avr109), which still uses `intelhex`. I'll open

[2015-10-25 02:30] noopkat commented on #30
Thanks @flaki ! Excited that you gave the Arduboy a go with avrgirl, and also I am jealous you have the dev kit!

I'm refactoring the leonardo reset script this week, and it's possible that the work will fix this intermittent issue. Are you up for testing this in a pre-flight branch for me once I'm done? A colleague might have also backed the Arduboy, I'll check in to see if I can get my hands on

[2015-10-25 11:06] flaki commented on #30
Hey @noopkat! Absolutely, just let me know when you need anything tested!

[2015-10-25 18:07] noopkat commented on #30
@flaki thanks so much! I just pushed up a POC branch (needs cleaning up but the functionality is there) called `leo-reset-dtr` https://github.com/noopkat/avrgirl-arduino/tree/leo-reset-dtr

`npm install && node bin/cli.js flash -a leonardo -f <file> -v` within the cloned repo (as it looks like you've been doing) should be a good test.

You may need to still have the intelhex patch in place, as loo

[2015-10-25 21:54] flaki commented on #30
@noopkat most welcome! BTW I'm on El Capitan. ;)

Also I've just checked out the experimental branch (and erm.. checked out the experimental branch :relaxed: ). Good news: this **works like a charm**! Five out of five times it flashes the board without any issues!
Excellent work, thank you!

If you need any more testing done with the Arduboy, feel free to let me know anytime.

[code]

[2015-10-25 21:54] #30 closed

[2015-10-25 23:32] noopkat commented on #30
thanks so much for your help @flaki, really appreciate it. I'll get this change published soon.
I'll also document in the README that although it's not directly supported, the Arduboy will work if you use `leonardo` as the board type.

[2015-10-26 03:11] noopkat commented on #12
confirmed working, thanks for testing this @nodebotanist :yellow_heart:

[2015-10-26 03:11] #12 closed

[2015-10-27 01:36] noopkat commented on #29
published in 1.4.12

[2015-10-27 01:36] #29 closed

[2015-10-28 21:11] ArekSredzki commented on #29
@noopkat I've extracted that module I mentioned :)

https://www.npmjs.com/package/arduino-interface

[2015-10-28 23:26] noopkat commented on #29
@ArekSredzki thank you, this is very awesome!

[2015-10-28 23:28] ArekSredzki commented on #29
:smile:

[2015-11-16 00:30] #1 closed

[2015-11-29 01:19] #4 closed

[2015-12-07 16:45] rwaldron opened #41 "Align CLI functions with API?"
Just noticed this in the readme:

[code]

vs.

[code]

I would happily submit a patch that _aliases_ `Avrgirl.list` => `Avrgirl.listPorts`, if such a feature was desired. (Also can do on the other `avrgirl-*` modules)

[2015-12-07 17:06] noopkat commented on #41
@rwaldron please do, this makes a heck of a lot of sense thank you! :clap:
I held off on adding CLI access to the other modules until things settled on this repo with the API so we're good there.

[2015-12-07 18:10] rwaldron commented on #41
Ok, cool—I'll try to get this done today

[2015-12-08 03:19] noopkat opened #42 "Leo boards hop ports sometimes"
This was fixed in v1.5.3 release, but documenting in case this needs reopening later.

See http://community.arduboy.com/t/rom-installer-for-windows-mac-and-linux/233/3

Seems to happen on Window and Linux machines, but not consistently.

[2015-12-08 03:19] #42 closed

[2015-12-08 15:18] JonLim commented on #5
Hiyo @noopkat!

Recently found `avrgirl-arduino` and successfully used it (I think) to upload our firmware onto our boards last night. Currently working it into our Electron-based app, so you'll have some cross-platform testing coming your way. We're working with the Mega boards, and will report back on any issues we might encounter.

Let me know if you have any questions about what we're doing!

[2015-12-09 00:58] noopkat commented on #5
@JonLim really cool, thanks for getting in touch here to let me know things have been working out so far.

The only thing I've quickly tested in Electron is setting up a boilerplate app in OSX, and then flashing a Blink hex to an Arduino Uno. It seemed to go fine after a tiny patch I had to release to do with binding some globals, but let me know if you run into any dramas!

I'm excited to see wha

[2015-12-09 01:22] JonLim commented on #5
@noopkat For sure!

The only drama llama situations that have come up were during `npm install avrgirl-arduino`, `serialport` was not enjoying itself because it wasn't being compiled properly. Updated `node`, updated `npm`, installed `electron-rebuild`, re-installed everything, rebuilt the Electron dependencies, and the moved `serialport.node` to the folder it was asking for.

It's crude, but it s

[2015-12-09 01:35] noopkat commented on #5
@JonLim oh super cool!!! Thanks for providing more detail.

Ah, I ran into the same compilation issues, which spun off this blog post: http://meow.noopkat.com/using-node-serialport-in-an-electron-app/ but forgot all about that. Glad you figured it all out.

[2015-12-09 01:53] JonLim commented on #5
@noopkat Ah, dang, wish I saw that earlier!

All good, had to make sure I had the right build while using `electron-build` as well.

[2015-12-11 15:28] JonLim opened #43 "Serial read/write - 750ms delay necessary?"
Somewhat an out-of-scope issue here, so I apologize if this is the wrong place for this, but I extended `avrgirl-arduino` to be able to send a message and wait for data back over serial, and it works beautifully. I hijack the automatic port finder and board validation to have a serialport instance ready to go before I send a message. Currently, I flashed one of our testing Arduino boards with an e

[2015-12-12 01:17] noopkat commented on #43
oh! This is really neat! Are you using the Mega still for this? If not, which board? I'm using three different protocols under the hood, so I'd need to start with the correct one to answer your questions in depth :smile:

[2015-12-13 14:03] JonLim commented on #43
@noopkat Still using the mega, and I'll post my code so you can see just what nonsense I'm getting up to.

[code]

Essentially a carbon copy of the initialization for your `.upload()` function, if I remember correctly, and I just take over `serialPort` for the opened connection from there. As for the `setTimeout()` function that writes the data, anything lower than 750 (have tested 700) and it rec

[2015-12-20 18:43] noopkat commented on #43
@JonLim ok! So I had a hunch about what might be causing the delay, but I had to actually play with an Arduino to prove it. Please forgive the radio silence!

My theory is that this delay is isolated to Arduino boards. Essentially, when the board's serialport is opened, the board is automatically reset and the software takes some time to reboot. This is by design, and it's due to the wiring of the

[2015-12-22 15:12] JonLim commented on #43
Hiyo @noopkat, apologies on the delay in responding.

Thank you so much for looking at this in-depth! I had completely forgotten about the reboot process when opening a serial port (like opening the Serial Monitor in Arduino IDE) which might cause the delay. I don't think we'll be disabling the DTR pin, so I think we will be sticking with the `setTimeout` method.

Thanks again, can't wait to keep

[2015-12-22 15:12] #43 closed

[2015-12-22 19:00] noopkat commented on #43
:sparkles: np, let me know if you run into anything else!

[2015-12-26 04:14] #41 closed

[2015-12-26 20:50] noopkat commented on #2
closing as this has been taken care of in v1.5.6. Thanks @soldair :grin:

[2015-12-26 20:50] #2 closed

[2016-01-03 20:17] noopkat opened #45 "AVR109 verification fails on Linux"
Flashing still effectively worked.

Replicated on an Arduino Micro with the returned error `Flashed content length differs! local:128vs device: 1`

[2016-01-03 23:05] noopkat commented on #45
Temporary fix published in v1.6.1. Turns off verification for AVR109 devices on Linux for now. This will end up being fixed and uptaken by avrgirl-arduino via https://github.com/tmpvar/chip.avr.avr109/issues/4

[2016-01-03 23:07] #45 closed

[2016-01-11 06:00] knabe opened #46 "Sourcing a Hex File"
Since Arduino 1.6.5, there is a simpler method for exporting your hex file.

sketch > export binary
It it saved inside the sketch folder.

No longer have to search for random generated folder.

[2016-01-12 03:34] noopkat commented on #46
thank you for this info! I will amend the README file :grin:

[2016-01-18 04:28] #46 closed

[2016-01-18 04:29] #5 closed

[2016-01-18 04:29] #7 closed

[2016-01-18 05:18] noopkat opened #47 "Investigate STK500v1 issue on Node 0.10.x"
One instance replicated as per Test Pilot report:
+ Linux
+ NodeJS 0.10.39
+ Uno board
+ Error: "no 'Uno' found"

Concerns:
+ Is this on Linux only, or all OS's affected for 0.10.x?
+ did the firmware still attempt upload?
+ is this isolated to stk500v1?

[2016-01-18 05:37] noopkat opened #48 "Investigate stk500v1 timeout with flashing uno on 5.2 OSX"
NodeJS 5.x is not necessarily 'supported' at this stage, but this might be worth looking into.

notes: "after installing@latest with errors like... avrgirl-arduino flash -f /tmp/arduino_builds/BuiltInExcitment.ino.hex -a uno -p /dev/cu.usbmodem5D11 -v\nconnected\nreset complete.\nflashing, please wait...\nflash complete.\n[Error: Sending 6400804688e990e09f938f9382e093e09f938f930e94d30681e08a830f90

[2016-01-18 05:40] noopkat commented on #48
what is **odd** about this one, is that AVRGirl Arduino and it's dependencies do not use avrdude, nor do any files reference the keyword `avrdude` as a string anywhere except in the package json as a search keyword :confused:

[2016-01-18 07:01] noopkat opened #49 "Document the importance of Win drivers installation"
**Note:** This issue is ideal for folks wishing to make their first code contribution/pull request to AVRGirl Arduino, or it might even be their first open source pull request ever! Please do not open a PR for this if you're an existing code/docs contributor to AVRGirl Arduino. Thanks :heart:

----------------------------
The Issue:

Plugging in an Arduino isn't an out-of-the-box-working experienc

[2016-01-18 09:56] yaakov-h opened #50 "Consider wording of project description"
The project description confuses me.

To me this sounds like a library that somehow puts NodeJS on Arduino boards, which leaves me at first amazed, then severely disappointed.

A clearer description could be:

[2016-01-18 17:58] noopkat commented on #50
Ah, yes, I can see why the grammar of this tagline would be very misleading. Thanks for catching this, and apologies for the rollercoaster of feelings there! Running NodeJS on an Arduino board *would* be amazing. It's even quite difficult on a Yun.

I have fixed this in newly published version 1.6.4, commit is https://github.com/noopkat/avrgirl-arduino/commit/c73f7019a1a97cd3195d3e1f1f90cfd550c0e1

[2016-01-18 17:58] #50 closed

[2016-01-18 20:03] yaakov-h commented on #50
Much clearer, thank you.

[2016-01-19 02:37] #49 closed

[2016-02-24 16:20] noopkat opened #54 "Robust fix for ADB VCOM startup delay"
Use serial port open attempts rather than arbitrary delay.

[2016-02-24 21:46] Icesory opened #55 "Flashing throws often a failure on RPi"
First of all. Big thanks for this great work!

I have build an Plugin for Pimatic https://github.com/Icesory/pimatic-arduino-updater. When we run a flash process on an RPi often an Time out error occurs. This is testet with Nano328(CH340), Nano328(FT232RL), ProMini 5V328(FT232RL).

Most times this error occurs:

[code]

Or this

[code]

This is an complete log from Pimatic with an other failure

[

[2016-02-25 01:35] noopkat commented on #55
Hi @Icesory!

Uh oh, looks like a few teething issues in the RaspPi for flashing, huh. Thank you *so much* for the multiple error logs, this is really very helpful for me to look into what's perhaps going on. I have a couple of Raspberry Pi's in possession, so I'll start by trying to replicate your experience with some boards.

Just two clarifying questions first to help me further debug:
1. Which

[2016-02-25 06:13] Icesory commented on #55
1. We have tested with Raspbian wheezy. A test with Jessi will follow.
2. As pi we have tested the B+ and Pi2.

I have tested only in combination with Pimatic. On the weekend I try a avrgirl-arduino only test, to see if it a load problem.

[2016-02-27 00:14] Icesory commented on #55
I have done some tests.
To find the bug i used a simple javascript file to test the module

[code]
I included the bluebird library, because we used it as promises in pimatic.
This file runs in my raspberry B without problems.

Following test i run:
1. Test
[code]
Result:
5 out of 5
Both uploads completed.

2. Test
[code]
Result:
5 out of 5
Both uploads completed.

3. Test
[code]
Result:
2 out of 5

[2016-02-27 01:05] noopkat commented on #55
@Icesory thanks for giving that a thorough test with lots of scenarios :grin:
I have a Pi B and a Pi 2, so I'll also give it a go this weekend.

I have never 'promisified' avrgirl-arduino before, so I'm really happy to see that it wraps correctly and works!

One small thing I thought was odd though, was in your crash log, the node package in the stack trace is `stk500`. However, if you're flashing

[2016-02-27 01:07] noopkat commented on #47
random thought - this may be the double `0x` product id issue currently happening with certain versions of `node-serialport`.

[2016-02-27 01:26] Icesory commented on #55
That is indeed interesting.
I use only arduino clones. And for all tests I used an Arduino Nano(Atmega328P) with an FT232RL usart to USB bridge. I think the stk500 is the right protocol but I am not so familiar with alle the different bootloaders.

[2016-02-27 02:11] noopkat commented on #55
Ah! I missed that detail earlier. yes, stk500 is the correct protocol, you are right. I was thinking of the Arduino Micro :grinning:

[2016-02-27 02:46] Icesory commented on #55
I have read some stuff in your blog.
And I fall over this section
[code]

In pimatic the other plugins open the their SerialPorts to communicate with the arduinos. When their discover that the firmware isn't up to date a upload request is generated. In this request the plugin is forced to close his comport and after this avrgirl-arduino uploads an new firmware to the avr chip.
So in some cases it

[2016-02-27 03:13] noopkat commented on #55
ah, I see! This is a reasonable theory.

The thing that may disprove it is that when you look at the first byte that was sent (or attempted) just before the crash happened, you'll see it's `64`, or `0x64`. This byte, being at the beginning of the message being sent to the board and having a value of `64` is the opcode for 'program page'.

Therefore, the reset and the serialport reconnection + send

[2016-02-27 10:44] Icesory commented on #55
You are right. The errors in my first post do not related to an open serialport. But i had such errors too :-(

Is it possible, that you code throws a other strings as "flash complete(red)" when a error occurs? Eventually something meaningful like "flash abort: Can´t write page NUMBER"?

Ps: Sorry for my bad English. I am from Germany and still learning.

[2016-02-29 00:51] yyyc514 opened #56 "Please add LICENSE file to clarify licensing."

[2016-02-29 03:03] noopkat commented on #56
@yyyc514 oh shoot, thanks for the bump! I'll add this shortly.

[2016-02-29 03:18] noopkat commented on #56
Done https://github.com/noopkat/avrgirl-arduino/blob/master/LICENSE.md

[2016-02-29 03:18] #56 closed

[2016-03-01 21:02] noopkat opened #57 "Work towards officially supporting NodeJS v5.x"
Seems like spotty support in general for NodeJS 5.x, but some solid time needs to go into stabilizing and establishing where the issues are for each operating system, etc.

[2016-06-26 18:44] #57 closed

[2016-07-01 02:42] #47 closed

[2016-07-13 03:42] noopkat opened #77 "AVR109 Remove all delays in favour of polling"
Work on this has started.

+ [x] - poll for connect
+ [x] - wait for close before reset callback

 magic number delays 🔜 🚽

[2016-07-13 03:43] noopkat commented on #54
addressed by #77

[2016-07-16 22:03] #77 closed

[2016-07-16 22:03] #54 closed

[2016-07-16 22:05] noopkat commented on #48
closing this, will reopen if it's reported as still an issue.

[2016-07-16 22:05] #48 closed

[2016-08-26 04:12] slacker87 opened #84 "Flashing arduino pro micro fails"
Flashing a basic hex file onto an arduino pro micro fails with "Error: could not reconnect after resetting board."
debug shows it finding the micro, and on the correct port.
debug then shows it resetting the board, and my pro micro does in fact reboot
then.... error, help!

[2016-08-26 13:56] noopkat commented on #84
Hi! Thanks for opening this issue. I noticed this recently when I was testing with a Micro. If you run the code again immediately after it fails the first time, it does work for me. This is obviously a bug, so this gives me a hint on where to took to start tracking it down with a fix. Thanks and I'll leave this open until I find a solution, which hopefully should be quite soon 😁

[2016-08-26 16:26] slacker87 commented on #84
Yay a workaround! TY I was worried I would have to mess with serial npm packages again :fearful:

[2016-08-26 17:40] noopkat commented on #84
My aim is for folks to never have to do this stuff manually themselves starting from scratch 😄

If you can run the `flash` method again upon the first error as a workaround for now, I'll update you when the bug is fixed. I appreciate your kindness and am happy you're getting use out of avrgirl-arduino 🙆

[2016-08-26 19:55] slacker87 commented on #84
No dice in my testing....

it finds the micro, resets, and fails, but when rerun immediately after it either:

1. resets the board again
2. gives "Error: opening COM12: File not found();"
3. gives "Error: no Arduino 'micro' found"
4. gives "Error: Opening COM12: Access denied(...)"

the error depends on when in the process i have it re-run the flash command, help please :(

[2016-08-26 20:03] noopkat commented on #84
gotcha. Yeah I'd say the long bootloader time on the Micro will not allow an immediate reattempt. I'll look into this further asap, I'm sure it's solvable as it's only a recently introduced bug. More soon!

[2016-08-26 20:19] slacker87 commented on #84
Ok so more testing.... I got it to flash, using the 'leonardo' board and manually forcing the correct com port...

[code]
Hopefully this makes the fix easier knowing it reboots/flashes fine using whatever you set for leonardo? Maybe just use the same for micro?

[2016-08-26 21:12] noopkat commented on #84
oh, odd! I have a feeling I might know what it going on. This has been super helpful from you, thank you!! Lemme do a bunch of tests on windows and report back.

[2016-08-26 23:27] noopkat commented on #84
Couple of questions, as I cannot replicate this on my mac or my windows box:

1. is your Arduino Micro from Arduino, or is it a clone? It should look like [one of these](https://www.arduino.cc/en/Main/ArduinoBoardMicro)

2. Does the script work at all if you specify the port, but leave it as `micro` being the board type?

3. If you answer is 'no' to the second question, could you please run the fo

[2016-08-27 00:28] noopkat commented on #84
Me again - I just published what I think should be a fix for this bug, if you `npm install avrgirl-arduino@latest` could you please let me know if you see it fixed on your end too?

Thanks!

[2016-08-27 02:07] slacker87 commented on #84
No dice, to answer your questions:

1. this is a clone board, arduino pro micro
2. same error
3.
`Navigated to file:///C:/Users/Mike/Documents/GitHub/CoreIR-Uplink/source/index.html
C:\Users\Mike\Documents\GitHub\CoreIR-Uplink\source\node_modules\avrgirl-arduino\lib\connection.js:25 found micro on port COM11
C:\Users\Mike\Documents\GitHub\CoreIR-Uplink\source\node_modules\avrgirl-arduino\lib\avr10

[2016-08-27 02:12] noopkat commented on #84
out of curiosity - are you using this in a browser, Electron, or Chrome app perhaps? Trying to narrow this down. I've been testing in my node terminal, so I fear I've been testing this incorrectly the whole time

[2016-08-27 02:16] slacker87 commented on #84
https://github.com/slacker87/CoreIR-Uplink

Electron, like I said, works great with leonardo selected! Who knows why :p

[2016-08-27 02:22] noopkat commented on #84
it seems that the problem is that the clone reports a non standard (ie. not a genuine Arduino) product id when in bootloader mode. Clones can be really tricky, and I can't always guarantee support for them out of the box as they widely vary with how they present as a device on USB.

I added that product id to the micro identification object and published it - could you possible retry again? Thanks

[2016-08-27 02:28] slacker87 commented on #84
Success on three different type of 32u4 clone boards! 🎉

Now when I code up and share my project I can safely know they'll work first try with avrgirl 🎂 ty

[2016-08-27 02:28] #84 closed

[2016-08-27 02:29] noopkat commented on #84
🙌  🙌  🙌  🙌

great to have another clone out in the wild tracked down and now compatible. Thanks for you patience! 🎉

[2016-08-27 03:09] noopkat opened #85 "Finish 'nicer errors' project"
I'm almost done with this.

[2016-10-22 08:51] GermanBluefox opened #91 "Debug definition as function."
Very nice package.
I want to integrate it into my home automation platform ioBroker and found small problem.

It would be nice to have better integration possibilities. One of that is debug not to the console, but somewhere else.

`this.debug = options.debug ? (typeof options.debug === 'function') ? options.debug : console.log.bind(console)) : function() {};`

[2016-10-30 15:19] noopkat commented on #91
Hi @GermanBluefox!

This is an awesome idea, I never considered the use case for this, but it makes a lot of sense.

One quick question before I code up a solution - from the code snippet you helpfully provided, am I interpreting it correctly to say that you would prefer an option to pass in your own debug function to do custom work with the debug strings every time `this.debug` is called?

Thanks

[2016-10-31 19:20] GermanBluefox commented on #91
Yes. You are right. I would like to pass my own debug function like
[code]

[2016-11-06 01:54] noopkat opened #93 "add Kimio to contributors list"

[2016-11-06 17:09] #93 closed

[2016-11-06 17:21] noopkat commented on #91
Hi again,
Gotcha, thanks for clarifying! I have published this feature request in the latest version of avrgirl-arduino. Let me know what you think, and if it helps you in the right way 😁

[2016-11-06 17:21] #91 closed

[2016-11-06 18:07] noopkat commented on #55
@Icesory hey, just checking in. I'm working on offering better and more clear errors and logging, and will keep you posted on the progress of this 😁 . I'm closing this issue for now, feel free to reopen if you have further questions!

[2016-11-06 18:07] #55 closed

[2016-11-11 05:01] Mike-Dax opened #96 "Ability to specify custom board properties, or have the flashing process disregard 'incorrect' productIds"
We're rolling our own hardware which has specs similar to the leonardo, so when flashing with the Arduino IDE we'll select that option. However we have a different productId to what's expected by the library, as specified in boards.js. Obviously with this set 'incorrectly' we'll hit `Error: could not reconnect after resetting board.` since the productId doesn't match what's expected.

It'd be grea

[2016-11-13 18:15] noopkat opened #97 "support json file on command line for custom board"

[2016-11-13 18:15] noopkat opened #98 "update readme to document how to use a custom board object"

[2016-11-22 17:26] noopkat commented on #96
Hi @Mike-Dax!

Thanks for raising this issue. I totally see where you're coming from, and why things are breaking. Thanks fir the thorough explanation, it was really helpful! I think allowing a custom board object would be the most flexible way going forward to resolve this.

This is a reasonable use case, so I published a new version which allows for a custom board object to be passed in, in plac

[2016-11-23 11:40] GermanBluefox commented on #91
Looks good. Thank you.

[2017-01-19 14:56] felixerdy opened #102 "bindings.js:83 Uncaught Error: Module version mismatch. Expected 50, got 51."
After installing with `npm install avrgirl-arduino --save` and requiring it, I get the following error in my electron project:

Any suggestions?

System: macOS
`npm v4.1.1`
`node v7.4.0`

[2017-01-19 15:12] felixerdy commented on #102
Solved this by myself:

- installed [electron-rebuild](https://github.com/electron/electron-rebuild) with `npm install electron-rebuild --save-dev`
- ran `./node_modules/.bin/electron-rebuild --version=1.4.14` (insert your electron version here)

[2017-01-19 15:12] #102 closed

[2017-02-08 22:54] ts-ycc commented on #84
I'm getting the same "File  not found" error, same as slacker87's first comment. Checked my product ID (productID: '8037') and it seemed okay although it is a clone micro.  I then used the code you supplied on August 26 and here is the result:

1st list [ { comName: 'COM7',
    manufacturer: 'Arduino LLC (www.arduino.cc)',
    serialNumber: undefined,
    pnpId: 'USB\\VID_2341&PID_8037&MI_00\\8&30

[2017-02-09 00:21] noopkat commented on #84
hmmm might be a timing issue 🤔 I'll try this on Windows when I get a chance to see if I can replicate.

[2017-02-09 00:27] sandeepmistry commented on #84
Could you check the PID in bootloader mode? Just double tap the reset button and run the list command again. It might be missing for the PID list.

[2017-02-09 03:27] ts-ycc commented on #84
I reset the board twice ( there is no reset button so I jumped the GND and RST twice) and the results are the same:

No port auto sniff
1st list [ { comName: 'COM7',
    manufacturer: 'Arduino LLC (www.arduino.cc)',
    serialNumber: undefined,
    pnpId: 'USB\\VID_2341&PID_8037&MI_00\\8&306F1381&0&0000',
    locationId: '0000.001a.0000.001.001.004.000.000.000',
    vendorId: '2341',
    productId

[2017-02-09 03:29] slacker87 commented on #84
try 'leonardo' instead of micro for board type

  On Wed, Feb 8, 2017 at 10:27 PM, ts-ycc<notifications@github.com> wrote:
I reset the board twice ( there is no reset button so I jumped the GND and RST twice) and the results are the same:

No port auto sniff
1st list [ { comName: 'COM7',
manufacturer: 'Arduino LLC (www.arduino.cc)',
serialNumber: undefined,
pnpId: 'USB\VID_2341&PID_8037&MI_00\8&30

[2017-02-09 03:54] ts-ycc commented on #84
No luck with 'leonardo':

No port auto sniff
1st list [ { comName: 'COM7',
    manufacturer: 'Arduino LLC (www.arduino.cc)',
    serialNumber: undefined,
    pnpId: 'USB\\VID_2341&PID_8037&MI_00\\8&306F1381&0&0000',
    locationId: '0000.001a.0000.001.001.004.000.000.000',
    vendorId: '2341',
    productId: '8037',
    _standardPid: '8037' } ]
Error: no Arduino 'leonardo' found.
    at C:\Users\

[2017-02-09 04:34] noopkat commented on #84
Thanks for posting all of the debug info 😄
I'm currently traveling until later this week so I don't have my gear on me to try to reproduce 😞 I'll keep you posted!

[2017-02-13 00:46] noopkat commented on #84
@ts-ycc hi there, I could not reproduce this because it turns out I don't have an Arduino Pro Micro. I have an Arduino Micro, which is quite different.

You said your board is an Arduino __**Pro**__ Micro. If so, Avrgirl Arduino does not currently support this exact board yet. It has a slightly different bootloader, and is not the same as an Arduino Micro.

Does your board seem to be something lik

[2017-02-13 04:53] ts-ycc commented on #84
Yes, indeed I have an Arduino Pro Micro. Oh well. :(  Thanks for the info, though.  Also, one thing I noticed is that the USB/serial driver (by Auduino) I used did not send an event when the board was reset and that might be the reason why the software hangs after it tried to reset the board.

[2017-02-13 17:38] noopkat commented on #84
ah I see. Could you try something for me? I wonder if you need the 'double reset' due to the slightly different bootloader. See this that I found: https://cdn.sparkfun.com/datasheets/Dev/Arduino/Boards/32U4Note.pdf

if you were already resetting the board twice I apologise. I think there also might be a different flashing method as well, but I can ready the datasheet of the board and see if I can

[2017-02-14 23:54] ts-ycc commented on #84
I tried the double reset but it did not work, then I uninstall the current Arduino driver and reinstall another USB Serial driver and voila it works!!! The only thing I am not quite sure is the board does not blink and I used blink.cpp.hex to flash it. Here is the output:

No port auto sniff
1st list [ { comName: 'COM6',
    manufacturer: 'Arduino LLC (www.arduino.cc)',
    serialNumber: undefined

[2017-02-15 02:53] noopkat commented on #84
Glad you got it to work! Weird.
I do have a timeout in the code for after a reset, so I wonder if there's something I need to catch before the reset completes. Thanks

[2017-02-22 12:55] jmbaron opened #106 "Command not found"
I used the command `sudo npm install avrgirl-arduino` but when I try running the command `avrgirl-arduino list` I get an error saying `-bash: avrgirl-arduino: command not found` I ran `npm init` before running the first command and it still doesn't work.

[2017-02-22 12:57] jmbaron opened #107 "Command not found"
I used the command `sudo npm install avrgirl-arduino` but when I try running the command `avrgirl-arduino list` I get an error saying `-bash: avrgirl-arduino: command not found` I ran `npm init` before running the first command and it still doesn't work.

[2017-02-28 01:09] noopkat commented on #107
Hi @jmbaron, thanks for raising this issue. It looks like you're attempting to use avrgirl-arduino globally, as a command line tool. If you run the same install command with the `-g` flag, this will install it as a global CLI app, instead of just for local code use.

Try running: `npm install -g avrgirl-arduino` and if you get permission issues, you can reference [this documentation to fix it](htt

[2017-02-28 01:10] noopkat commented on #106
closing as this is a duplicate of #107

[2017-02-28 01:10] #106 closed

[2017-03-19 15:27] noopkat commented on #107
I'm closing this for now, you're welcome to reopen this if the issue is still persisting

[2017-03-19 15:27] #107 closed

[2017-04-05 09:31] tocalvo opened #110 "Review Pull request on noopkat/js-stk500v1 to avoid problems in a Chrome Extension"
Hi :wave:, i send a pull request to https://github.com/noopkat/js-stk500v1/pull/1 , because we have a problem with the console.log and verifyPage function. I think that maybe you don't see the pull requests on that repo. It's a small change to avoid problems when we use avrgirl-arduino inside a chrome extension.
Thanks ! :smile:

[2017-04-10 01:33] sandeepmistry commented on #110
Hi @tocalvo,

Do you have an example app that can be used to reproduce the issue and verify your proposed fix?

[2017-04-10 14:12] noopkat commented on #110
Hi @tocalvo I have replied to the PR on noopkat/js-stk500v1#1
In the meantime I'll pull this down to try to reproduce in that version of Linux.

[2017-04-17 08:15] tocalvo commented on #110
Hi @sandeepmistry , thanks for your help, i response in the js-stk500v1 fork, about the example app, the code its here: https://github.com/bq/bitbloq-chromeapp , to reproduce it, you can install the extension from here: https://chrome.google.com/webstore/detail/bitbloq/ddpdpmibfdhifigignfdiggfbcmfblfj and i just get the error on a specific educational distro called Guadalinex Edu , you can downloa

[2017-05-01 14:11] algernon opened #111 "Support for devices that require a manual reset"
Hi!

I'm working with a device (a [Shortcut](http://shortcut.gg) keyboard) that - at the moment at least - requires me to press a physical reset button on it, before I can flash a firmware. With `avrdude`, this causes no issues, but `avrgirl` wants to reset the device herself, and things fail horribly when I press the reset button while avrgirl is trying to reset it too.

Would it be possible to h

[2017-05-14 15:17] noopkat opened #114 "custom board object should be allowed to be sparse"
Currently if you pass in a board object with only the name of the board in it, it breaks. Normally we'd want it to either error if missing vital props, or if the board object only contains the name, just merge it in with a default board object for the chosen board.

[2017-05-14 15:55] #111 closed

[2017-05-16 14:52] tocalvo commented on #110
Hi! Just a reminder for the pull request on the stk500 (the error detected on the PR was solved :D )
https://github.com/noopkat/js-stk500v1/pull/1
And sorry to write about this here. I dont want to bother, its just because the last time you can't see PR on your js-stk500v1 fork.
Thanks!

[2017-05-21 15:37] noopkat opened #116 "github linked deps should be semver'd"
Currently any updates to js-stk500v1 will be implicit updates in this project. This has the potential to break things, without any semver versioning to assist with rollbacks. Let's fix this, by either getting the github deps back to mainline, or pointing at specific SHAs instead of just branch names.

[2017-05-21 19:04] #110 closed

[2017-05-23 09:27] christianalares opened #119 "Error: could not open board on ..."
I'm trying to flash a (working and tested) hex file to a Pololu Zumo 32U4.
The first time it get stuck on:
[code]
When I reload the page (that forces the back end to try again)  I get:
[code]

Note that I'm running the `manualReset` to `true`.

And by the way, the reason it says `zumo`is because I've made a custom board:
[code]

I've also tried using the `leonardo` that should be very alike and ma

[2017-05-28 00:29] joachimhs opened #121 ""Port is opening" error on Arduino nano"
Hello,

I have been working with Avrgirl and the Arduino Uno without much issues, but when I try with an Arduino Nano, reading from the serial port fails.

I realise this might be somewhat outside of what Avrgirl is meant to be used for.

Basically, I am implementing a Serial Monitor, where I am able to choose which Serial Port to open. This works well for the Uno, but the Nano responds with a nas

[2017-05-28 00:30] joachimhs commented on #121
Of course, I forgot to include the screenshots :)

<img width="558" alt="screen shot 2017-05-28 at 02 29 26" src="https://cloud.githubusercontent.com/assets/453373/26525127/8cef352a-434d-11e7-8e41-4d48e58a3791.png">
<img width="556" alt="screen shot 2017-05-28 at 02 29 34" src="https://cloud.githubusercontent.com/assets/453373/26525128/8cf20fb6-434d-11e7-9963-b2fe7fed0269.png">

[2017-05-28 16:16] noopkat opened #122 "create static method to return boards list"
We just need a list of the board names as an array of strings. A `boards.map` might be all that is required, and to have it as a static method on `AvrgirlArduino`.

[2017-05-28 19:33] Apidcloud opened #124 "Semantic Release"
As mentioned in the stream, what do you think of using semantic-release in this repository?

I thought about doing it the following way:
- [semantic-release] to handle automatic publishing on [github] and [npm][package]
- [commitizen] together with [cz-conventional-changelog] to help with semantic commits
- [husky] to handle pre-commits and commit-msg hooks together with [validate-commit-msg].

Ho

[2017-05-29 09:20] greenkeeper[bot] opened #125 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-29 14:50] #125 closed

[2017-06-11 15:30] noopkat commented on #124
@Apidcloud hey! Thank you for the suggestion. This would improve the collaborator/contributor experience, not to mention my own time that would also be saved. I'm going to put this on the roadmap to work on. ✨

If anyone else wants to pick up this as a task, they are most welcome to.

[2017-06-11 15:34] noopkat commented on #122
closing as it's fixed ✨

[2017-06-11 15:34] #122 closed

[2017-06-11 15:35] mcdonnelldean commented on #124
Just a note, mentioned on the stream. Happy to take these on. I'll start with Husky and maybe a couple of tests.

[2017-06-11 16:24] Apidcloud commented on #124
@mcdonnelldean let me know which of them you are taking on

[2017-06-11 16:25] mcdonnelldean commented on #124
@Apidcloud Husky is added. I haven't added the others but I'm happy to take a look or I can leave it to you too.

[2017-06-11 16:31] Apidcloud commented on #124
@mcdonnelldean I guess it's better if only one person works on this, as they are all interrelated. Just noticed the husky PR, so you can continue 👍 I'll be happy to help out either way!

[2017-06-11 17:00] mcdonnelldean commented on #124
@Apidcloud 👍

[2017-06-11 19:05] mcdonnelldean commented on #124
@Apidcloud So I had a look over both Semantic Release and Commitizen.

I'm gonna go ahead and leave those out of my PR and work. Basically I disagree with both and as such would be the wrong person to add these. That is of course not to say they are bad or wrong or anything like that; it is more I am of the belief things like that make the library harder to maintain for the maintainer as they (the

[2017-06-12 10:41] Apidcloud commented on #124
@mcdonnelldean I've come across them recently, and I think it's really helpful in the sense that besides automating the release process (on both npm and github), it also uses the (semantic) commit messages to produce the change log.

I didn't really explain the idea thoroughly, so I will try to do it below.

Personally, I like to follow git commit message rules (imperative verb and so on), and com

[2017-06-12 11:38] mcdonnelldean commented on #124
@Apidcloud Thanks for the additional info.

Yup, to stress, it's not at all that I think they are bad, more that they are things I personally wouldn't add. I still think you should perhaps make some PR's (showing is always better than telling).

@noopkat Did seem to want to at least see these in action. I don't think that has changed. I just wanted to sound out that I didn't want to take those two

[2017-06-12 13:02] Apidcloud commented on #124
@mcdonnelldean Aight 👍 Husky would just complement it, but it's not really necessary to make it work.

[2017-06-28 04:08] lukywong opened #134 "Error ocurred on CLI mode"
I used blew command to flash a demo, but error comes
`$ avrgirl-arduino flash -f Blink.ino.eightanaloginputs.hex -a nano`

/Users/xxx/.nvm/versions/node/v6.10.2/lib/node_modules/avrgirl-arduino/bin/cli.js:40
      } else if (!boards.byName[argz.a]) {
                               ^

TypeError: Cannot read property 'nano' of undefined
    at handleInput (/Users/xxx/.nvm/versions/node/v6.10.2/lib/n

[2017-06-29 00:19] noopkat commented on #134
@lukywong hi there! Thanks for reporting this bug. It was a regression from a change made recently. I have patched and released a new version to npm, could you please try installing the latest avrgirl-arduino and running the command again?

Apologies for the inconvenience and thanks again for reporting this!
![bitmoji](https://render.bitstrips.com/v2/cpanel/10178663-209725411_1-s4-v1.png?transpare

[2017-06-29 10:31] lukywong commented on #134
it works very well now, thank you

[2017-06-29 10:31] #134 closed

[2017-07-04 20:56] noopkat commented on #119
Hi @christianalares sorry for the really slow response. This is curious 🤔
I'll grab a zumo 32u4 and see if I can debug this. Looks like you're on OSX, is this correct? Thanks!

[2017-07-04 20:58] noopkat commented on #96
closing this for now, comment if this wasn't resolved for you 😃

[2017-07-04 20:58] #96 closed

[2017-07-05 05:58] christianalares commented on #119
@noopkat Awesome!
That's right, I'm on OSX (or macOS as the cool kids say :). macOS Sierra to be precise.

[2017-12-06 03:05] focalhot opened #139 "The latest version(2.2.7) can't flash successfully on mega2560"
The latest version(2.2.7) can't flash on mega2560，but 2.2.4 can flash successfully on mega2560,Do anyone else have such issue？

[code]

[2017-12-06 03:33] obra commented on #139
what sort of error are you getting?

[2017-12-20 14:06] pstenstrm commented on #119
Hi, I've managed to flash the Zumo32U4 robot by following the discussion in issue #84.

I set up Avrgirl with `manualReset` set to `false`, and when the first flash fails I immediately try to flash it again. What I noticed is that the `productId` changes.

The second time the board is in "bootloader mode". At first, after flashing the board with the Arduino IDE it has the `productId` `0x2300` and

[2017-12-20 14:45] pstenstrm commented on #119
I think I figured out why the board changes to `leonardo`, I compile the sketch with avr-pizza-service and to make it easier for myself I set the board to `leonardo` instead of figuring out how to do it properly with the `zumo32u4` board. So the second part of my previous comment is probably only due to my short-cuts.

[2018-01-02 19:40] vshymanskyy opened #140 "ESP32/ESP8266 support?"
These boards are widely used an popular, are there any plans to add support fort them?
Yeah, I understand it's not AVR family, but anyway..

[2018-01-14 17:01] noopkat opened #141 "create a Github issue template"
ask for:

1. operating system and version
2. avrgirl arduino version
3. NodeJS version
4. board being used
5. log output
7. code sample to reproduce

[2018-01-14 17:08] jonasbn commented on #141
I can take time to make a first shot at this

[2018-01-14 19:36] noopkat opened #142 "expand contribution guide"

[2018-01-14 19:41] noopkat commented on #139
@focalhot hi, thanks for reporting this issue. I was able to reproduce this. For me, the process hangs after resetting the board. Does this also happen for you?

This is what I see in my console:

[code]

I have tracked it down to the Serialport 5 upgrade commit, and will investigate a dependency of this library to track down exactly what is causing this before potentially opening an issue on the

[2018-01-15 05:56] chriszinkula commented on #141
I went ahead and tried my hand at it.  https://github.com/noopkat/avrgirl-arduino/pull/143

[2018-01-15 09:37] jonasbn commented on #141
My proposal is available as PR #144

I have also added a PR template. I like @chriszinkula's

- Expected behaviour
- Actual behaviour

For the issue template, I have these in my own issue templates, but have not added these to my proposal at this time, since my proposal for the issue template focus on assisting in getting the user to provide factual data about the environment. But it could be inte

[2018-01-19 02:09] focalhot commented on #139
@noopkat Serialport v2.2.4 can work well for me,thanks.
Here is my code:
`
  "dependencies": {
    "avrgirl-arduino": "^2.2.4",
    "serialport": "^4.0.1",
    "debug": "^2.6.0",
    "iconv-lite": "^0.4.15",
    "request": "^2.79.0",
    "underscore": "^1.8.3"
  }
`

[2018-01-21 17:00] noopkat commented on #141
closing as a result of #143 and also #144 thanks so much @chriszinkula and @jonasbn 💯

[2018-01-21 17:00] #141 closed

[2018-01-28 16:48] noopkat commented on #139
Quick update - I have reverted the serialport dependency upgrade and is now back to installing and using v4.x. This has been published in avrgirl-arduino v2.2.9.

@obra feel free to stay on v2.2.8 for now, as I'll be looking into this issue and hopefully will have a thorough fix for this and can upgrade serialport again very soon.

![bitmoji](https://render.bitstrips.com/v2/cpanel/a00419f8-8390-44

[2018-01-28 16:48] #139 closed

[2018-01-28 16:52] noopkat opened #145 "Upgrade serialport dependency"
## Description

Latest version of Serialport does not work with this library. Not sure if serialport end or stk500v2 end or avrgirl-arduino end.

Going to investigate and fix this as soon as possible! This issue is tracking this work.

![bitmoji](https://render.bitstrips.com/v2/cpanel/4a148723-fbbf-4972-8e6e-120148c5a497-01e208eb-dd84-4f55-b40d-40123903eb89-v1.png?transparent=1&palette=1&width=246

[2018-01-29 09:01] altjz opened #146 "Is it possible to get flashing progress (percentage)?"
First. Many thanks to this great library. It save a lot of time.
And forgive me the issue template doesn't fit the feature request.

## Feature request
Provide flashing progress.

## Expected behavior
may be add progress callback here
[code]

## Description
I used `avrdude` to flash the board before.
Avrdude doesn't have the progress, But I can detect the output string with symbol '#' to calculate

[2018-02-10 01:24] focalhot opened #149 "Can avrgirl-arduino flash a .ino file?"
How can I flash a .ino file with arvgirl-arduino?

[2018-02-10 06:48] focalhot commented on #149
I found avr-pizza already, thanks @noopkat.You saved my day!

[2018-02-10 06:48] #149 closed

[2018-02-13 23:56] alexgleason opened #150 "Can't install, permission denied"
Hello! I'm trying to `sudo npm install -g avrgirl-arduino` and running into issues.

Node: v9.5.0
npm: 5.6.0
OS: elementary OS 0.4.1 Loki 64-bit (based on Ubuntu 16.04.3 LTS), Linux 4.4.0-112-generic

Here's my full journey:

[code]

Any ideas? Thanks!

EDIT: Then I tried:

[code]

That last bit repeats infinitely until I kill the process in my terminal.

[2018-02-14 04:14] noopkat commented on #150
Hi @alexgleason, sorry that you're running into dramas getting avrgirl-arduino installed.

It looks like it's getting stuck building the native dependencies within node-serialport (which avrgirl-arduino relies on for serial communication). Could you please try the following to see if you get the same errors?

[code]

Thanks! 🙇

[2018-02-25 17:28] x4m3 commented on #140
yeah that would be awesome, i just bought a [lolin esp32](https://wiki.wemos.cc/products:lolin32:lolin32), maybe i'll add the board to avrgirl!

@noopkat is there a guide on how to add a new board ?

[2018-03-01 09:36] noopkat commented on #140
Hi @vshymanskyy thanks for opening this issue about esp32/8266 support.

AVRGirl does indeed only support the AVR family of devices at present. It is a pure JavaScript implementation of the protocols used by the different boards.

The ESP 8266/32 boards can run Arduino code in running mode, but has a different bootloader to AVR chips when programming/flashing the sketch to the device. There's a va

[2018-03-01 09:38] noopkat opened #151 "add guide to using / adding custom boards"
It also might be time to start a wiki on this repo to start accommodating more documentation beyond the README.

[2018-03-01 09:51] noopkat commented on #146
Hi @altjz thanks for opening this issue.

Progress reporting is a feature I have wanted to implement for a long time now. After this issue was opened by you I started working on this. I'll set up a milestone and reference this issue soon so you can track progress on this feature. It is a big job to implement for a variety of reasons, but we're getting there slowly 😄

Would you be interested in hel

[2018-03-06 14:46] altjz commented on #146
Hi @noopkat, thanks for response.
I can't wait to test this feature! Let me know once it's ready! 😃

[2018-03-27 15:58] fn-code opened #155 "Flashing arduino"
can i flashing arduino over etherport.. ??

[2018-04-09 18:27] noopkat commented on #155
Hi there, thanks for reaching out. Unfortunately this library won't be able to flash Arduino boards via an ethernet port.

[2018-04-09 18:27] #155 closed

[2018-04-09 19:03] AlparLeonardoMeyer opened #156 "Tried to download(404): node-serialport"
# Issue Template

Error on install this module.

## Description

Tried to download(404): https://github.com/EmergingTechnologyAdvisors/node-serialport/releases/download/4.0.7/serialport-v4.0.7-node-v59-win32-x64.tar.gz

### Expected behaviour

_What behaviour did you expect did occur?_

### Actual behaviour

_What unexpected behaviour occurred?_

## Operating system and version

_Please provide ve

[2018-04-09 19:14] noopkat commented on #156
Hi there, thanks for opening this issue. This is not a bug related to avrgirl-arduino, rather a bug on [node-serialport](https://github.com/EmergingTechnologyAdvisors/node-serialport). Could you kindly open an issue on their repository? Thanks!

[2018-04-13 03:58] phptuts commented on #145
So I figured out what was going on.  It's that SerialPort.list returns a promise.  I created a fix for it on fork, but I could not fix the tests.

https://github.com/phptuts/avrgirl-arduino/blob/master/lib/connection.js#L186

[2018-04-13 03:58] phptuts commented on #145
Hope this helps, sorry could not fix the tests.

[2018-05-27 17:40] nandub opened #157 "change dep noopkat/js-stk500v1 to upstream"
It seems all your changes have been committed to https://github.com/jacobrosenthal/js-stk500v1 upstream.

[2018-05-27 20:33] nandub commented on #116
I open an issue #157 about this one.

[2018-05-27 20:37] nandub commented on #157
or if you want me to send a pull request I can.

[2018-06-03 00:19] #116 closed

[2018-06-03 16:20] ta2edchimp commented on #139
The `serialport` module does not fire a `close` event (anymore) without reading from or writing to the connection.
In a small test project of mine, where I lent the resetting portion from avrgirl-arduino, I was able to work around this issue by also registering for `data` events prior to setting up a listener for the `close` event.
Maybe this can be of use some time later.

[2018-06-04 15:22] nandub commented on #157
Pull request #158 was merge.

[2018-06-04 15:22] #157 closed

[2018-07-05 12:02] ajfisher commented on #156
@noopkat I've just run into this on a couple of my repos as well. Seems like SerialPort 4 hasn't been ported to Node 10 and newer MacOS as well.

I've done a quick POC on avrgirl-arduino and if you switch out `serialport` for v6 it appears to work okay. Do you want me to raise that change as a PR?

[2018-07-08 17:12] noopkat opened #161 "feature: filter by vendor id"
# Issue Template

## Description

We ran into a product id collision recently. This means that some boards might be mistaken for others as a result. Given that we already store vendor id's for every board, we should start using them when 'sniffing' ports to autolocate plugged in boards.

### Expected behaviour

All boards should be able to have unique 'footprints' based on product id

### Actual b

[2018-09-10 17:03] sandeepmistry opened #165 "Updating the browser-serialport dependency?"
## Description

I'm using the latest version of `avrgirl-arduino` (in a Chrome app). Some upstream changes, particularly https://github.com/Pinoccio/js-stk500/commit/b61379ac954845b3fe2b660d23359a8138320cac is causing the uploads Arduino Mega 2560's to get stuck after the "reset complete" message.

The forked version of `browser-serialport` doesn't contain the `isOpen()` API,  which was added in h

[2018-09-11 17:41] noopkat commented on #165
thanks for reporting this @sandeepmistry 💯

I think the path I'd like to go down is to see if avrgirl can start consuming the mainline of browser-serialport library again. The fork was used initially for compatibility with Serialport v4's breaking API changes.

If there are additional changes needed to do this (such as the commits from my fork), I can pull request mainline.

[2018-09-13 18:44] sandeepmistry commented on #165
@noopkat great!

I pulled the latest `browser-serial` over, if we can get https://github.com/noopkat/browser-serialport/commit/a1cecbee1276bfe78b0491f8d13544c70859ff36 into upstream we are good to go. I see you already opened https://github.com/garrows/browser-serialport/pull/43 a while back though however.

Overall there's only been one code upstream that's not in your fork: https://github.com/ga

[2018-09-30 15:50] noopkat commented on #165
@sandeepmistry I cherry-picked that commit into the `api-updates` branch of my fork. I also have released a new patch of avrgirl-arduino which pins to this specific latest commit, just for safety reasons to improve the potential stability should we change that branch again.

If you can confirm that this has unblocked you, we can close this issue. Thanks so much for your help on this, and as always

[2018-10-01 15:12] sandeepmistry commented on #165
Hi @noopkat,

Thanks for looking at this! I can confirm the v2.2.13 release resolves this issue 😀.

[2018-10-01 15:12] #165 closed

[2019-02-05 11:37] greenkeeper[bot] opened #168 "An in-range update of jshint is breaking the build 🚨"
## The devDependency [jshint](https://github.com/jshint/jshint) was updated from `2.9.7` to `2.10.0`.

🚨 [View failing branch](https://github.com/noopkat/avrgirl-arduino/compare/master...noopkat:greenkeeper%2Fjshint-2.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jshint is a devDependency of this project. It **mig

[2019-05-13 01:22] nandub commented on #161
@noopkat I just noticed this issue.  About this "Given that we already store vendor id's for every board" on the description I think you meant to say `productId`.  Currently `avrgirl-arduino` uses `productId` only, but we should be able to fix that by implementing #162, which is a WIP, we also need code to lookup by `vendorId` since I'm not familiar with the code I'm not sure where to start to add

[2019-06-01 17:57] wuyinyao opened #173 "arduino leonardo flash hex not work"
i try to upload hex to arduino leonardo board, always get could not open xxx port error, as i know the com port no will change when upload hex, so i think that is root cause.

right now, i just modify the connection.js code make the com port correct when upload hex the com port change,  not show "cound not open xxx port error" , and see the leonardo board upload hex is working-the indicator keep f

[2019-06-01 18:00] wuyinyao commented on #173
run in win7

[2019-06-02 17:28] noopkat commented on #173
hi @wuyinyao can I ask if you were manually specifying the first port (before reset) in your code like below?

[code]

if you are, then this might be causing the bug. If not, the connection file code should still be trying to autofind the board, and won't necessarily try to reconnect to the same com port. This is because I'm aware that port switching is a thing that happens on windows with leonard

[2019-06-14 17:44] noopkat opened #174 "add url to product page for each board"
## Description

We should introduce a new property to the boards.js list which is a string url to the product page of each board, suggested by @nnja ✨

## Why?

This would be really handy for both contributors to understand what all of the boards are, and also for helpful error output if a board cannot be autosniffed (we can ask the user to verify that specific board with a link to the product pag

[2019-07-05 11:51] gorhgorh opened #175 "Error on install on node 12.4.0"
# Error on install on node 12.4.0

serialport version (v6.2.2) used in Avrgirl Arduino (v2.2.9) does not provide pre built binaries for node 12, and compiling does not work too (tried it in a workshop on multiple machine)

in the release note you mention reverting serialport because of some board issues (MEGA), so you may not want to have it updated, but the latest version of serial port DOES comp

[2019-07-10 12:43] s00500 commented on #146
Hi @noopkat, what is the status of this ? Is there any work that can be contributed?

[2019-08-04 03:23] noopkat commented on #146
@s00500 I'm about halfway through implementing this but I want to prioritize the work on my end to get it done asap. Sorry it has taken so long it's been a lot of work.

[2019-08-04 03:25] noopkat commented on #175
Hi thanks for reporting this issue. I think this is to do with avrgirl needing an upgrade to the serialport dependency. I'll need to do this and test on all operating systems before publishing the compatibility updates. Thanks for your patience I should have this done really soon 🙇‍♀

[2019-08-11 18:14] Lisiadito commented on #174
With product page you mean this for example [Store Arduino UNO](https://store.arduino.cc/arduino-uno-rev3) ?
I would be willing to do that.

[2019-08-11 21:45] noopkat commented on #174
@Lisiadito totally! Let me know if you run into tricky issues sourcing the right URLs. Some of the boards we support in avrgirl are no longer in circulation / available to buy. An info page would suffice if a buy link doesn't work.

Thank you! 😄

[2019-08-12 00:14] Lisiadito commented on #174
@noopkat I've found for most boards a page (buy or info). But I can't find a info page about the old ardunio nano.

[2019-08-12 15:59] noopkat commented on #174
@Lisiadito this is exactly the board I was thinking would give you the trouble 😂
I'll dig around for a suitable replacement. Thanks for the update!

[2019-08-12 16:11] noopkat commented on #174
@Lisiadito ok let me know if this is a silly idea to you, but I found the [original Nano hardware info page](https://web.archive.org/web/20150813095112/https://www.arduino.cc/en/Main/ArduinoBoardNano) from the Internet Archive and think this would be the most accurate we can find and still from the official website?

[2019-08-12 16:25] Lisiadito commented on #174
@noopkat hahaha I did exactly the same yesterday but wasn't sure if that's the best solution. But if that's the only link we both find I guess it's the best shot. I will add it and make the PR

[2019-08-15 09:48] gorhgorh commented on #175
hey hey, no worries here I'm using nvm and switch for using avrgirl/firmata party, and yes this has to do with old serial port version used, as mentioned I did not dared make a PR for that as I don't have the boards to test possible regressions.

Thanks again for all your cool work!

[2019-08-15 21:02] #175 closed

[2019-09-29 14:56] Lisiadito commented on #174
I think this can be closed since the PR is merged.

[2019-09-29 19:24] knitcodemonkey opened #178 "allow esnext by removing gulp"
## Description

Allow JSX syntax by replacing jshint with eslint, and replacing incompatible gulp-tape package with a tape script.

### Expected behaviour

Contributor should be able to use JSX.

### Actual behaviour

gulp-tape and jshint error when using jsx syntax

## Operating system and version

Darwin Macs-MacBook-Pro-2.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019;

[2019-10-02 08:33] paulhayes opened #180 "Error: could not reconnect after resetting board."
## Description

Uploading to any of my sparkfun pro micro clones doesn't work. These boards use official atmel chips, and work in Arduino and Platformio without problems. Here's a simple test I wrote that demonstrates the issue:

[code]

### Expected behaviour

Successful upload to sparkfun pro micro

### Actual behaviour

The program dumped the following error
[code]

## Operating system and vers

[2019-10-05 21:12] noopkat commented on #180
@paulhayes thanks for reporting this issue. There is a chance that this board has a different product id when it's in bootloader mode and I don't have it in my list to poll for once the board's USB serial emulation comes back online after resetting.

Would you mind performing the following steps below to confirm this is the case or not:

1. Plug in the Pro Micro to your computer
2. Run the followi

[2019-10-07 07:38] paulhayes commented on #180
Yup, I think you're right. Unusual product id seems to be the cause. Will you add support for this variant to your library?

Thanks so much for taking the time to address this issue.

[code]

[2019-11-19 21:57] greenkeeper[bot] opened #182 "An in-range update of intel-hex is breaking the build 🚨"
## The dependency [intel-hex](https://github.com/bminer/intel-hex.js) was updated from `0.1.1` to `0.1.2`.

🚨 [View failing branch](https://github.com/noopkat/avrgirl-arduino/compare/master...noopkat:greenkeeper%2Fintel-hex-0.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

intel-hex is a direct dependency of this pro

[2019-12-03 03:21] noopkat commented on #178
we can close this now 🎉

[2019-12-03 03:21] #178 closed

[2019-12-03 03:21] #174 closed

[2019-12-03 03:22] noopkat commented on #156
this issue is now both stale and additionally we're now in serialport 8 so we should be good to close this 😄

[2019-12-03 03:22] #156 closed

[2019-12-03 03:23] noopkat commented on #145
closing as we have upgraded to serialport 8 at this stage

[2019-12-03 03:23] #145 closed

[2019-12-03 03:24] noopkat commented on #98
closing as this is a duplicate

[2019-12-03 03:24] #98 closed

[2019-12-03 03:24] #182 closed

[2019-12-03 03:24] #168 closed

[2019-12-03 03:25] noopkat commented on #150
this issue is a little dated now so I'm going to close it, but please feel free to re-open if you're still having issues. Thanks!

[2019-12-03 03:25] #150 closed

[2019-12-08 18:10] #114 closed

[2019-12-08 18:35] #180 closed

[2019-12-08 18:45] noopkat commented on #180
hi @paulhayes sorry for taking so long with this but I have added the product id to the latest release of this library. For future FYI and I should have told you this earlier (🙈) but you can supply a custom board object as outlined in the README in order to get around instead of waiting me to add it officially to the matching board configuration.

Can you kindly let me know if the latest release d

[2019-12-08 18:46] noopkat commented on #173
closing this as it's a stale issue but please feel free to reopen if this is still plaguing you 🙇‍♀

[2019-12-08 18:46] #173 closed

[2019-12-16 22:48] greenkeeper[bot] opened #185 "An in-range update of tape is breaking the build 🚨"
## The devDependency [tape](https://github.com/substack/tape) was updated from `4.11.0` to `4.12.0`.

🚨 [View failing branch](https://github.com/noopkat/avrgirl-arduino/compare/master...noopkat:greenkeeper%2Ftape-4.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tape is a devDependency of this project. It **might no

[2019-12-22 17:29] #97 closed

[2020-01-25 02:17] MichaelE1 opened #190 "Web serial demo feedback"
Hi Suz! I had a chance to mess around with the web serial demo today. It's working really well. The only issue I ran into was that a flag needs to be enabled in Chrome stable for web serial support. I've opened a [PR](https://github.com/noopkat/avrgirl-arduino/pull/189) in hope that it will save someone the time I spent debugging 😅

I also had a go at quickly converting the demo to [React](https:/

[2020-01-27 04:54] noopkat commented on #190
Hi @MichaelE1
Thank you SO MUCH for testing this. I lost it at the end with the waving sloth!!!!!! This is fantastic.

I would be happy to receive the React version of the demo as a pull request if you're comfortable with the code as is? Feel free to tweak it beforehand as you said it was messy and I'd want you to be happy with it. I'm thinking that we could have a vanilla javascript demo and then

[2020-01-27 04:55] noopkat commented on #190
Edit: just saw you opened a PR already 🤦‍♂  I'll take a look at it

[2020-02-02 18:00] #190 closed

[2020-02-24 16:37] bkbalaind opened #192 "Arduino Uno Wifi rev2 support?"
Does this board supporting? How should it be work?

Thanks

[2020-03-07 03:51] algernon opened #193 "Flashing some Avr109 devices does not reboot back to the user sketch"
## Description

We're using this wonderful library in [Chrysalis](https://github.com/keyboardio/Chrysalis) to flash firmware onto some of the supported keyboards. We recently upgraded our avrgirl-arduino dependency from v3.0.0 to v4.2.1, and noticed that flashing no longer works: the process itself finishes, verification works too, fuse checking passes as well, but the keyboard doesn't reset back

[2020-03-07 03:53] algernon commented on #193
FWIW, I quickly hacked up a patch for the board property mentioned above, it's [here](https://github.com/algernon/avrgirl-arduino/commit/7b21687fd4d034ce905ed95171b1703f7329e941). I'm happy to turn that into a PR, or rework it.

Unless, of course, we can figure out what's the root of the problem, rendering the above patch unnecessary. :)

[2020-03-12 22:56] greenkeeper[bot] opened #194 "An in-range update of minimist is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [minimist](https://github.com/substack/minimist) was updated from `1.2.4` to `1.2.5`.

🚨 [View failing branch](https://github.com/noopkat/avrgirl-arduino/compare/master...n

[2020-03-22 17:47] noopkat commented on #193
Hi @algernon I am so sorry for taking so long to respond! Thanks for investigating this. The backstory is that this line of code (the one closing the connection) had been commented out for a really long time. I looked up the original issue which was in node-serialport, and it looked like it was now fixed. I tested this on Mojave and it seemed fine. I definitely should have tested this more robustl

[2020-03-22 17:56] #193 closed

[2020-03-22 17:57] noopkat commented on #193
patch released in v4.2.2 🙇

[2020-04-15 01:28] msanatan opened #195 "Program not exiting flash function after successfully uploading hex file"
## Description

I use macOS Catalina and was looking for an easy way to flash games on my [Arduboy](https://arduboy.com/) and came across your (awesome!) library. I'd like to use it to develop a new app to manage my game library, which is a bunch of hex files.

As a start, I installed the NPM package in a folder and added this `index.js` which I adapted from your README:

[code]

The hex file is a

[2020-04-18 23:27] msanatan commented on #195
Hey, just following up on this. I did a test where I uncommented this line in `lib/avr109.js`:
https://github.com/noopkat/avrgirl-arduino/blob/master/lib/avr109.js#L53

Results when running script

[code]

Works just like in 4.2.1. I know it may be the fix for the issue in the comments, but it seems to be affecting other behavior.

[2020-04-29 11:01] dvalladaresv opened #197 "Problem with webserial demo example"
Hello,
First of all, congratulations on the project!

I write to consult a thing that happens to me in the example of demo of webserial (tests/demos/webserial/. I am serving it on a server and the problem it gives me is that sometimes it works perfectly, but other times it gives me an error on line 13102 ==> navigator.serial.requestPort(this.requestOpstions). I am using /dist/avrgirl-arduino.globa

[2020-05-03 17:01] noopkat commented on #195
Hi @msanatan,
Thanks for flagging this, as I was interested in whether or not this is something that affects how people use the library for their projects.

Just for history, this library has always had this bug until 4.2.1 as you were able to track down, as you mentioned due to #193. Given that this bug is still going to be a thing going forward for certain operating systems, I need to work in a

[2020-05-04 23:58] msanatan commented on #195
Hey @noopkat, thanks for checking it out!

I didn't want to submit a PR without getting a fix for the other issues as well. Hopefully I can put my brain to better use and help out there 😅. If I'm not able to code in a timely manner, I'm definitely happy to test!

And this library is so cool. I love making games for my Arduboy and playing other people's games as well. There wasn't a really easy to

[2020-05-05 19:51] wispyco opened #199 "After running firmata-party yun --debug it cant find a file under /junk/hex"
## Description

After running `firmata-party yun --debug` it cant find a file under this path for avrgirl-arduino node module
[code]
### Expected behaviour

to flash my arduino yun

### Actual behaviour

[code]

## Operating system and version

### Linux and Unix based systems

5.3.0-51-generic #44-Ubuntu SMP Wed Apr 22 21:09:44 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

_For information on the spec

[2020-05-17 17:16] noopkat commented on #195
@msanatan thank you so much for your kind words about this project, despite it being a little bit buggy for you 😅

I would love any PRs in general even if they're not related to this problem. I just moved house last week so I'm still trying to get back on top of my open source work 📦

I should be able to get to this issue in particular pretty soon 🤞

[2020-05-17 17:58] noopkat commented on #199
hi there @wispyco thanks for reporting - total overlook here on my part. I added a preliminary compiled version of StandardFirmataEthernet to this library and have published a new version if you want to try it out to see if it works with your Yun.

I don't have a Yun so I can't currently test it. Fair warning I used StandardFirmataEthernet because it seems that this is the compatible version of Fi

[2020-05-17 21:09] wispyco commented on #199
I'll give it a try now. I had to use StandatdFirmatePlus to get it to work on my end, but I will test and see if it works on StandardFirmataEthernet and report back. Thanks!

[2020-05-18 21:26] techwiznixon commented on #197
Looks like you haven't enabled the access in your browser to the core Chrome features to drive this functionality. This demo runs on the Web Serial API which is currently still experimental, so you'll have to enable it in Chrome.

As stated in the README for this demo, please go to `chrome://flags` and enable the `#enable-experimental-web-platform-features` option. This should fix things for you.

[2020-05-19 07:38] #197 closed

[2020-05-21 23:20] msanatan commented on #195
Sounds like a busy time, good luck with everything!!!

[2020-05-24 17:01] noopkat commented on #197
@techwiznixon thanks for the assistance on this issue here I really appreciate it. Feel free to reopen this issue @dvalladaresv if you still can't get it working! 🙇

[2020-05-24 17:47] noopkat commented on #195
Tasks for me to work through in order to start fixing this:

+ [ ] attempt to repro this on Raspbian and Windows first
+ [ ] consider adding a new board property to optionally close (try to avoid this)
+ [ ] follow up with serialport maintainers and possibly help them investigate / file a bug

As a reminder to myself, this is affecting 32u4 emulated USB connections only.

[2020-05-25 15:13] Luberry opened #201 "[Feature Request] Allow reading and writing to EEPROM"
I am in the process of writing a configuration program for my [LED Spy](https://gitlab.com/Luberry/smashboxledspy) project, and need to be able to write configuration to EEPROM. I have looked at one of your older projects which is now unmaintained `avrgirl-stk500v2` which had this functionality, but have not been able to get it to work, since this project seems to be maintained, I would like to re

[2020-05-28 15:58] rubendax opened #202 "Flashing stalls at "connected""
## Description

I'm trying to flash a Leonardo clone (Based on ATMEGA 32u4) but it seems to always get stuck at the point in which the console logs: "connected". I've tried letting it sit for quite some time but it does not seem to ever progress beyond that point. I have set **manualReset** to **true**, because I found that when it was omitted or if it was set to **false** I would receive the erro

[2020-06-21 17:09] noopkat commented on #201
Hi @Luberry sorry for the delay in responding I've actually been investigating this for you for the last couple of weeks. A couple of questions if you'd be kind enough to answer (it's ok if you found an alternative in the meantime I'm just curious):

1. Which microcontroller are you using (with the eeprom you want to write to)?
2. Which programmer are you using? Such as an AVRISP mkii or maybe eve

[2020-06-21 18:20] Luberry commented on #201
I am using serial communications, currently I am just invoking avrdude using execFile, but can easily drop your library in. I am using the Atmega 2560 and is Arduino based, which is the Stk500v2 programmer iirc. I would definitely love to use a library instead of packing binaries in my app. Thanks for the response, I've also open sourced my designer software now that I have an alpha release out [h

[2020-07-12 05:25] ruudboon commented on #140
+1 for me

[2020-07-26 17:00] noopkat commented on #201
Hi @Luberry just getting back to you on this. Your project looks super cool! And I totally see why you'd want to stop packing binaries. So I have a [fresh version (2.0.0)](https://github.com/noopkat/avrgirl-stk500v2/releases/tag/v2.0.0) of avrgirl-stk500v2 published with an [updated example](https://github.com/noopkat/avrgirl-stk500v2/blob/master/README.md#example-using-serialport) in the README w

[2020-09-18 01:12] Luberry commented on #201
@noopkat Using a combination of this library for the firmware flash and the 2.0.0 release avrgirl-stk500v2 I have successfully gutted avrdude. For some reason firmware flashes from the stk500 lib would always be corrupt and take forever, but they work with this library so its fine.

[2020-09-28 20:24] koriwi opened #204 "flashing avr109 in browser"
## Description

It's currently not possible to flash an avr109 protocol device in the browser

### Expected behaviour

it should flash like an stk500v1 based device

### Actual behaviour

[code]

## Operating system and version

Linux archlinux 5.8.7-arch1-1 #1 SMP PREEMPT Sat, 05 Sep 2020 12:31:32 +0000 x86_64 GNU/Linux

## Avrgirl Arduino version

_Please provide version on the Avrgirl Arduino v

[2020-10-04 16:57] noopkat commented on #204
hi @koriwi,

Thanks for reaching out about this issue. It's not mentioned in the docs for the React demo but in the directory above that there's a [caveats section](https://github.com/noopkat/avrgirl-arduino/tree/master/tests/demos/webserial#caveats) that warns we currently still don't have support for avr109 boards.

The reason why this support will be challenging (but not impossible!) is because

[2020-10-04 18:58] koriwi commented on #204
Thanks for explaining it in great detail.
I would love to make this happen.
Currently I'm also fighting with windows and it's weird serial port behaviour in my own project. But maybe after i solved that i can have a look :)

[2020-10-10 15:53] shikshik commented on #204
Hey, great project you got here!
I also got here and would love helping to solve this issue.
Can you direct me where to start? I'm more a JS developer, but I'm a fast learner..

Can I override this somehow for mac use at this moment?

[2020-10-11 18:07] soryy708 opened #205 "Can't run `lint` script on Windows"
# Issue Template

Please review the [contribution](https://github.com/noopkat/avrgirl-arduino/blob/master/CONTRIBUTING.md) and [code of conduct](https://github.com/noopkat/avrgirl-arduino/blob/master/CODE_OF_CONDUCT.md) guidelines.

## Description

_If you raise an issue on bug/issue please provide the requested information, where not possible, please provide as many details as possible and ultima

[2020-10-11 18:14] soryy708 opened #206 "Can't run `tape` script on Windows"
# Issue Template

Please review the [contribution](https://github.com/noopkat/avrgirl-arduino/blob/master/CONTRIBUTING.md) and [code of conduct](https://github.com/noopkat/avrgirl-arduino/blob/master/CODE_OF_CONDUCT.md) guidelines.

## Description

_If you raise an issue on bug/issue please provide the requested information, where not possible, please provide as many details as possible and ultima

[2020-10-14 12:02] koriwi commented on #204
Currently sick (but covid negative :) )
Can't help you right now, but  i will come back to this issue

[2020-10-14 14:14] shikshik commented on #204
Be well, drink some tea :)

[2020-10-18 16:44] #205 closed

[2020-10-18 17:05] #206 closed

[2020-11-01 18:13] noopkat commented on #202
Hey @rubendax, sorry for not looking this sooner but I am unable to reproduce using a 32u4 board with node 12.x and this version of Avrgirl on osx (albeit Catalina).

You might have already moved on given the time that has passed, however if you're still looking to use this library and it's still not working on the latest version, please reopen this issue and we can debug it together.

[2020-11-01 18:13] #202 closed

[2020-11-01 21:21] rubendax commented on #202
Hi @noopkat thanks for getting back to me. Unfortunately I am still experiencing the same issue. Peculiar that it works for you. I wonder what variables there are that I have not considered. I've tried with three different 32u4-based dev boards, every time the process stalls at "connected".

[2020-11-02 22:35] rubendax commented on #204
My JS skills are somewhat limited but I would be happy to help with this in any way I can, even if just for testing.

[2020-11-22 18:18] rubendax commented on #202
#### Fixed
I was able to get past this problem. Sorry for any wasted time.
I might be totally wrong, but I think my fix was actually updating to Mac OS **10.15 Catalina**...
I'm not sure if others would be able to reproduce this, I'm definitely a bit of a newb so it is very possible that I was doing something wrong with NodeJS, especially back in May I first opened this issue. I've now tested with

[2020-11-22 18:48] noopkat commented on #202
Hi @rubendax I am SO GLAD that the upgrade fixed your issue!! I have been really scratching my head about this and just released a more in depth debugging feature to try to figure out why you were still experiencing the issue 😅

Thanks for taking the time to detail all of the things you tried and what seemed to fix things. It's VERY helpful for me should we have another developer run into the same

[2020-11-22 19:28] rubendax commented on #202
😊
I am also so glad that I was able to get past this issue! SO much better to use an active open-source JS library like avrgirl-arduino than trying to embed avrdude 0_0
Sorry you spent so much time and built a whole new debugging feature for my issue...

Sure @noopkat I'm happy to share. I'm a musician and I design and build my own music tech hardware - specifically MIDI controllers - which are ba

[2020-12-03 13:36] andreghisleni commented on #140
any news??

[2020-12-06 18:46] noopkat commented on #202
@rubendax your project sounds super cool thank you for sharing! 😄

I think that your use case is a perfect one for using avrgirl - it's totally why I wrote the library in the first place–to solve this problem for myself 😅

I really would love to see 32u4 working in a nice flow within the browser. It's something I have failed to make the time for this year but that doesn't mean it's not important a

[2020-12-13 19:35] noopkat opened #211 "migrate from travis ci to github actions"
## Description

GitHub Actions are a far superior experience for testing this library, so moving our test suite to GitHub Actions should be prioritised.

### Expected behaviour

Test suite runs on a GitHub Action workflow, and all travis ci related config is removed from the repo.

[2020-12-13 19:39] noopkat commented on #211
actively working on this one today.

[2020-12-13 22:42] noopkat opened #219 "set up auto generation of release changelogs"

[2020-12-13 23:49] #211 closed

[2020-12-20 18:44] noopkat commented on #140
Hey folks,

After a lot of thought, I can't commit to providing support for ESP-x devices in this repo. It would add more dependency risk burden because of the tetchy nature of native hardware bindings. This library is pretty tightly scoped to only support Atmel AVR type microcontroller breakouts, and ESP breakouts are a totally different architecture / toolchain. So it doesn't make contextual sen

[2020-12-20 18:44] #140 closed

[2021-01-10 18:20] #219 closed

[2021-01-10 18:22] noopkat commented on #199
closing due to staleness of issue. Feel free to reopen if still broken. Thanks!

[2021-01-10 18:22] #199 closed

[2021-01-10 18:23] #194 closed

[2021-01-10 18:24] #185 closed

[2021-01-10 18:33] noopkat commented on #124
Gonna close this as it's pretty old and in the end I think that some of the frameworks here are now a bit overkill given how small this project still is and the number of contributors currently maintaining the project. Thank you for this work it is still appreciated 😃

[2021-01-10 18:33] #124 closed

[2021-01-10 18:34] #119 closed

[2021-01-10 18:35] #121 closed

[2021-03-16 14:40] joachimhs opened #225 "With navigator.Serial will it be possible to support the nano-range?"
## Description

I guess this is more of a feature request than an issue.

Now that navigator.serial is available, at least in the latest Chrome browser, will it be possible to add the new official Nano-boards as a target? The Nano Every uses an AVR chip, but I am not sure how similar/dissimilar uploading new code would be between this and the old Uno or Nano?

I have been able to use the latest ve

[2021-07-26 14:18] benjaminaigner commented on #204
Hi @ all,

I've experimented with WebSerial and the AVR109 bootloader protocol for the Arduino Micro (ProMicro) updater.
With my limited JS skills, I've implemented a proof-of-concept:
https://github.com/benjaminaigner/avr109-webserial

@noopkat  THX for the inspiration with your avrgirl project!
Unfortunately, I've no node.js skills whatsoever, so my implementation is "plain" JS
with WebSerial.
I

[2021-08-12 03:05] mrfrase3 commented on #204
Hey, maintainer of [duino.app](https://duino.app) here.

Thanks @benjaminaigner, I had a crack at this a few months ago, due to a few people requesting AVR109 support, to not much success, but I might have another shot now that your example makes it seem possible. Very interesting.

[2021-08-12 22:10] jwillikers opened #239 "Uncaught (in promise) TypeError: Cannot read property 'filter' of undefined"
# Flatpak Issue

## Description

When running inside a Flatpak, it seems that avrgirl-arduino version 4.2.3 runs into problems stemming from the node-serialport library not finding available ports when flashing an Arduino.
The node-serialport library can't list ports because it relies on the command-line tool `udevadm`, which is not available within a Flatpak.
This is further described in issue se

[2021-08-30 21:21] mleanos opened #240 "React Demo build error with module imports"
# Issue Template

Please review the [contribution](https://github.com/noopkat/avrgirl-arduino/blob/master/CONTRIBUTING.md) and [code of conduct](https://github.com/noopkat/avrgirl-arduino/blob/master/CODE_OF_CONDUCT.md) guidelines.

## Description

_If you raise an issue on bug/issue please provide the requested information, where not possible, please provide as many details as possible and ultima

[2021-09-09 15:16] ma-ku opened #241 "SAM-D2x Support"
## Description

I am currently trying to find a way to flash an Arduino MKR 1010 Wifi using avrgirl-arduino. After tinkering around with different board configurations i realized that none of the supported three protocols seem to suit the protocol expected by the bootloader which seems to be SAM-BA. Now my question if this can be solved with avrgirl-arduino as-is or if we need to add SAM-BA as ano

[2021-11-13 18:28] rubendax commented on #241
It would be amazing to have SAMD support in avrgirl-arduino, but as this is a library made specifically for **AVR** devices, as opposed to **ARM**, it seems like this request is probably outside of the scope...

That being said, if any contributors are looking to expand this project to support SAMD chips, [BOSSA](https://github.com/shumatech/BOSSA) is an open source, lighter, and more compatible o

[2021-11-13 23:45] ma-ku commented on #241
Actually I have partly ported bossa to typescript using web-serial. So   Flashing and many other functions of the library are already there. Feel free to play with it. [bossa-web](https://github.com/ma-ku/bossa-web)

[2021-11-14 00:01] rubendax commented on #241
@ma-ku Whoa, amazing! I love that you are porting bossa to JS.
I would be very happy to help test or anything like that if needed. I'm far from a JS expert but I've used avrgirl-arduino pretty extensively.

[2021-11-14 20:45] ma-ku commented on #241
Well, it’s quite complete already. Some flashers are still missing but porting is straightforward. I use this code for flashing MKR 1010 WIFIs from a web application

[2021-11-23 02:55] focalhot opened #244 "Error: Something went wrong with the API request: Error: certificate has expired"
## Description

avrgirl-arduino can not work well on  electron 2.0.5, the tests uno.js works OK.
```sudo service caddy restart```

### Expected behaviour

avrgirl-arduino can work well on electron 2.0.5

### Actual behaviour

_What unexpected behaviour occurred?_

## Operating system and version

MacOS 11.5.2

## Avrgirl Arduino version
2.2.4
## NodeJS version
9.11.2
## Arduino Board being used
un

[2022-01-10 19:58] elbobius opened #245 "Console outputs cryptic signs with CLI"
## Description
I couldn't find a solution to start the CLI without getting cryptic output on the console.
1. I installed avrgirl with: npm install -g avrgirl-arduino@latest
2. I have connected one arduino to the board.
3. I tried to get a list with: avrgirl-arduino list
the console outputs cryptic signs
I get a similar output on the console if I try to flash a board or with avrgirl-arduino test-pi

[2022-01-17 15:17] elbobius commented on #245
works now, idk why

[2022-01-17 15:17] #245 closed, assigned to nobody

[2022-01-20 16:06] dvalladaresv opened #247 "Support for Web Bluetooth API?"
Hello, first of all congratulations for the development is great how it works with Web Serial API.

It would be a nice improvement adding integration with [Web Bluetooth API](https://webbluetoothcg.github.io/web-bluetooth/)

[2022-02-20 16:44] seisfeld opened #252 "Is it possible to add ATmega4809 support?"
## Description

Is it possible to add support for the ATmega4809 series of Chips? I have a custom made PCB with that MCU. I use [this Board Support Package](https://github.com/MCUdude/MegaCoreX) in the Arduino IDE. The ATmega4809 has an [Optiboot Bootloader](https://github.com/MCUdude/MegaCoreX/tree/master/megaavr/bootloaders/optiboot) (so not using UPDI) listening on UART0 and flashing sketches w

[2022-03-10 14:03] cerilloderek opened #254 "flash() callback triggered before connection.serialPort is confirmed closed"
## Description

When passing a port to the `Avrgirl` class, ideally, that port should be ready for use once the callback passed to `avrgirl.flash()` is triggered. That allows clients to immediately use the port after a flash without adding some arbitrary wait time.

### Expected behaviour

The port passed to the `Avrgirl` constructor is free and available for other services to connect to once `avr

[2022-05-25 21:49] rubendax commented on #204
@benjaminaigner I wanted to report that I tried out your [avr109-webserial](https://github.com/benjaminaigner/avr109-webserial) and it works! Thank you!

I want to try to see if there's any way to make a more desirable user-interaction experience. Even if the double confirmation is necessary, it would be great if there was maybe some way to front-load confirming both ports so that the user is not

[2022-05-26 09:49] benjaminaigner commented on #204
@mrfrase3 @rubendax

THX for picking up my example :-).
We ([AsTeRICS Team](https://github.com/asterics) needed an update possibility for the WebGUI of our assistive devices ([FABI](https://github.com/asterics/fabi) & [FLipMouse](https://github.com/asterics/flipmouse) / [FLipPad](https://github.com/asterics/flippad) ), where we want to spare our users from installing Arduino to update their device

[2022-05-26 10:10] shikshik commented on #204
Hey @benjaminaigner, I didn't try your solution yet, I'm using avrgirl-arduino with a desktop electron + reactjs solution. The issue I'm facing is having the user to click the physical reset button twice to make the device go into upload mode. Have you overcome this issue?
I'm about to develop a web browser solution as well, based on my reactjs app, so if your solution fixes the need for clicking

[2022-05-26 10:43] mrfrase3 commented on #204
I never got around to looking into this, but coincidentally I've been looking into refactoring my application, and the first part of that is re-writing avrgirl, the stk500v1, stk500v2, avr109, and esptools into a new independent npm package.

I've gotten stk500v1 done already and am currently decrypting the spaghetti code that is stk500v2, all with typescript, promises,  and automated tests (I env

[2022-05-26 17:56] benjaminaigner commented on #204
@shikshik
You can put the Arduino Sketch into bootloader mode by opening the port with 1200Baud, closing it after 500ms:
https://github.com/benjaminaigner/avr109-webserial/blob/0aaf0a524e2b29bb7b606b24d267c38a124e6965/index.html#L221
But as we discussed, afterwards the Arduino enumerates again as a different serial port, so you have to select the serial port in the browser again.

One caveat (heav

[2022-05-26 19:51] shikshik commented on #204
Thank you @benjaminaigner !
I will do some tests and try to solve the second interaction issue. I think I did solve it in my electron project. I will update on my results very soon.

[2022-05-26 20:06] rubendax commented on #204
@benjaminaigner So far I've made it so that the upload process is automatically initiated after the device resets, which is one less click, but the user still needs to confirm both ports in separate pop-up windows - and if the user does not confirm the second port within the limited time frame then the flash will fail.

I've tried storing the SerialPort object which is returned from ```navigator.s

[2022-07-11 16:08] koriwi commented on #204
I'm back :P

In my app https://github.com/freeyourstream/freedeck-configurator i actually have an auto(re)connect implemented. Not for flashing, but for replugging devices without user interaction. works totally fine. https://github.com/FreeYourStream/freedeck-configurator/blob/6714d6cde6cad09bdc204a0cef2283953aeacafb/src/lib/serial.ts#L33

@mrfrase3 project looks good. i would like to add it to m